

.continfofactura_main{
    width: var(--wrapContainerTable);
    margin: 0 auto;
    height: auto;
    background-color: var(--color-secondary);
    border-radius: 20px 20px 0 0;
    padding: 18px
}

.fichainventario{
    position: relative;
    color: var( --color-white);
    text-align: center;
}

.contable_main{
    font-family: Arial, sans-serif;
    width: var(--wrapContainerTable);
    height: auto;
    margin: 0 auto;
    background-color: var(--color-secondary);
}
.contable_main--whitebackground{
    padding: 20px;
    background-color: #f4f4f9;
}

.header_contable{
    display: flex;
    justify-content: space-around;
}

