
.contMain2{
	padding-top: 20px;
}

label{
    color: var(--color-backgrundmodule);
    font-weight: bold; /* Letras en negrita */
    /* border-radius: 8px;*/ /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    /*    display: inline-block; /* Para que el padding se aplique correctamente */
    /*    margin-bottom: 10px; /* Espacio debajo */
    margin: 0 0 10px 0;
}
