

#idModal .contForm {
    width: 400px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#idModal .contForm h2 {
    font-size: var(-textLg);
    margin-bottom: 5px;
    color: var(--color-white);
}

/* Estilo para los campos del formulario */
#create-product-form .form-group {
    margin-bottom: 6px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: var(--textMd);
    margin-bottom: 5px;
    color: var(--color-white);
}

.form-group input[type="text"] {
    color: var(--color-backgrundmodule);
    width: 100%;
    padding: 6px;
    font-size: var(--textMd);
    border-radius: 5px;
    border: 1px solid #ccc;
}


    /* ////////////////// */
    