table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
  }
    table th, table td {
    border: 1px solid #ddd;
    padding: 3px;
  }
  
  table th {
    background-color: #f2f2f2;
  }