
:root {
    --w-toggle-btn-menuburger: 3.5rem;
}

.toggle-btn-create{
    /* display: none; */

    width: calc(var(--w-toggle-btn-menuburger) * 2);
    height: var(--w-toggle-btn-menuburger);
    position: absolute;
    z-index: 100;
    right: 0%;
    margin: -10px;
    cursor: pointer
}


.toggle-btn-create span{
    background-color: var(--color-create);
    color: var(--color-white);
    font-size: 2rem;
    width: calc(var(--w-toggle-btn-menuburger) * 2);
    height: var(--w-toggle-btn-menuburger);
    border: 1px solid var(--color-white);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}